###############################################################################
# {{ ansible_managed }}
#
# {{ inventory_hostname }} {{ wireguard_interface }} configuration
###############################################################################

[Interface]
Address = {{ wireguard_ip }}/24
PrivateKey = {{ wireguard_private_key }}
ListenPort = {{ wireguard_listen_port }}

###############################################################################
# ansible group: {{ wireguard_group }}
###############################################################################
{% if wireguard_group is defined and wireguard_group in groups %}
{% for host in groups[wireguard_group] %}
{% if host != inventory_hostname %}
{% if hostvars[host]['wireguard_ip'] is defined %}
# Peer {{ host }}
[Peer]
Endpoint = {{ hostvars[host]['wireguard_endpoint'] | default(hostvars[host]['ansible_facts']['default_ipv4']['address']) }}:{{ hostvars[host]['wireguard_listen_port'] | default(wireguard_listen_port) }}
PublicKey = {{ hostvars[host]['wireguard_public_key'] }}
AllowedIPs = {{ hostvars[host]['wireguard_ip'] }}/32
{% else %}
# Peer {{ host }} skipped! wireguard_ip not defined
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% if wireguard_extra_peers is defined and  wireguard_extra_peers  | length > 0 %}
###############################################################################
# Extra Peers
###############################################################################
{% for peer in wireguard_extra_peers %}
[Peer]
{% if peer.endpoint is defined %}Endpoint = {{ peer.endpoint }}:{{ wireguard_listen_port }}{% endif %}
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.ip }}
{% endfor %}
{% endif %}
